<html>
    <head>
        <title>Attadev</title>
        <link rel="Shortcut Icon" type="image/ico" href="../media/header-logo.png" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    </head>
   <body>
        {% block body %}{% endblock %}
        {% block javascript %}{% endblock %}
   </body>
</html>