{% extends "AppBundle:Default:base.html.twig" %}

{% block body %}
    <br>
    <div class="container-fluid">
        {% image '@AppBundle/Resources/public/images/colored/colored.jpg' %}
        <div class="col-lg-5" style="border-right: 1px solid">
            <img src="{{ asset_url }}"  width="85%"  />
        </div>
        {% endimage %}
        <div class="col-lg-2"></div>
        <div class="col-lg-5">
            {% image '@AppBundle/Resources/public/images/splits/*' %}
                <div class="draggable">
                    <img src="{{ asset_url }}" width="20%" />
                </div>
            {% endimage %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(function() {
            $( ".draggable" ).draggable();
        });
    </script>
{% endblock %}